<input type="text" required #newQuery>
<button (click)="submit(newQuery)">Search</button>
<div *ngIf="results">
  <div *ngIf="!results['tracks'] || ((results['tracks'])['items']).length ==0">
    No tracks were found with the term '{{ query }}'
  </div>

  <div *ngIf="results['tracks'] || ((results['tracks'])['items']).length > 0">
    <h1>Results</h1>
    <div class="row">
      <div class="col-sm-6 col-md-4 mindiv" *ngFor="let t of (results['tracks'])['items']">
        <div class="thumbnail">
          <div class="content">
            <img src="{{ t.album.images[0].url }}" class="img-responsive">
            <div>
              <h5>
                <a [routerLink]="['/artists', t.artists[0].id]">
                  Artist: {{ t.artists[0].name }}
                </a>
              </h5>
              <h5>
                <a [routerLink]="['/tracks', t.id]">
                  Track name: {{ t.name }}
                </a>
              </h5>
              <h5>
                <a [routerLink]="['/albums', t.album.id]">
                  Album: {{ t.album.name }}
                </a>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>